:root {
    /* BACKGROUND */
    --background-header: #284b6389;
    --background-conteudo: #353535;
    --background-body: #ffff;
    /*H*/
    --background-h1: #284b6389;
    --color-h1: #eb6d3f;
    --background-h2: #284b63;
    --background-h6: #353535;
    /*BUTTONS*/
    --background-botao: #5a89a8;
    --background-botao-hover: #2b495e;

    /*CARD*/
    --background-card1: #eb6d3f;
    --background-card2: #2b495e;
    --background-card3: #c3826a;
    --background-card4: hsl(205, 29%, 52%);
    --background-card5: #94614e;
    --background-card6: #17585c;
    --background-card7: #843012;
    --background-card8: #3979a7e1;
    --card-color: #d9d9d9;

    /*CARDS*/
    --secao-color: #eb6d3f;
    --footer-color: #eb6d3f;

    /*COLOR BUTTON*/
    --color-botao: #989797;
    --button-color: #d9d9d9;

    /*BORDER COLOR*/
    --border: #ff9670af;
    --border-color: #eb6d3f;
}

* {
    margin: 0 auto;
    font-family: 'Axiforma';
    box-sizing: border-box;
}

body {
    text-align: justify;
    color: #3c6e71;
    font-weight: 900px;
    font-style: normal;
}

main {
    width: 100%;
}

#section-logo {
    background-color: var(--background-conteudo);
    width: 100%;
}
#section-logo img{
    width: 100%;
    height: 60vh;
}

h1 {
    background-color: var(--background-h1);
    color: var(--color-h1);
}

.title-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-h2);
    color: var(--secao-color);
    height: 10vh;
}

h3 {
    font-size: 30px;
    text-align: start;
}

#section-info-paragraph {
    margin: 20px;
    font-size: 1.25rem;
}
.services {
    display: flex;
    columns: column;
    justify-content: space-around;
    width: 100%;
    height: 45vh;
    padding: 0 0;
}

.services p {
    font-size: 1.2rem;
    align-items: center;
    text-align: left;
}


.services .service:nth-of-type(3) .service-title, .services .service .service-title{
    margin: 30px 0px;
}



.service {
    padding: 0 30px;
    background-color: var(--background-body);
    border: 10px solid var(--border);
    border-style: inset;
    border-color: var(--border-color);
}

.service-paragraph{
    width: 100%;
    margin: 10px;
}

.service-title {
    font-size: 1.25rem;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

.team {
    padding: 0 15px;
    display: flex;
    columns: row;
    justify-content: space-around;
}


#carouselExampleCaptions {
    width: 100%;
    height: auto;
    position: relative; 

}

.carousel-item {
    width: 100%; 
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 40px; 
    height: 40px; 
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    z-index: 10; 
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background: rgba(0, 0, 0, 0.8); 
}

.carousel-item {
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 70vh;
}

.carousel-inner {
    overflow: hidden;
}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--background-h6);
    color: var(--footer-color);
}

#copyright, #info, #contato{
    font-size: 1.6rem;
}

#contato span a{
    color: var(--background-card1);
}

#contato span a:hover{
    color: var(--background-botao);
}

#copyright {
    width: 25%;
}

#info {
    width: 50%;
}

#contato a{
    width: 25%;
}

.service-paragraph-enterprise p{
    margin: 30px;
    margin-right: 40px;
    margin-left: 20px;
    min-height: 40%;
    text-align: left;
    font-size: 1.06rem;
}



/* RESPONSIVIDADE */

/* Mobile */
@media (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-size: 18px;
        overflow-x: hidden;
    }

    #section-logo {
        margin: 0;
        padding: 0;
    }

    #section-logo img {
        height: auto;
        object-fit: cover;
    }

    h3 {
        font-size: 24px;
    }

    .title-h2 {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .margin-services {
        margin-bottom: auto;
    }

    .service {
        margin-bottom: 15px;
        width: 90%;
        background-color: var(--background-body);
        border: 10px solid var(--border);
        border-style: inset;
        border-color: var(--border-color);
        padding: 20px;
        box-sizing: border-box;
    }

    .service p {
        font-size: 1.2rem;
        text-align: left;
    }

    .team {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 10px;
    }

    .carousel-item .col-md-4 {
        display: none; /* Oculta todas as colunas */
    }

    .carousel-item .col-md-4:first-child {
        display: block; /* Mostra apenas a primeira coluna */
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 22px;
    }
   
    .carousel-item .col-md-4 {
        display: none; 
    }

    .carousel-item .col-md-4:first-child {
        display: block; 
    }


    #section-logo{
        width: 100%;
    }

    #section-logo img {
        height: 50vh;
    }

    #section-info-paragraph{
        font-size: 1.06rem;
    }

    #article-service {
        height: 36vh;
    }

    .services {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around;
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .service {
        width: 100%;
        margin-bottom: 20px;
    }

    .team {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer {
        flex-wrap: wrap;
        height: auto;
        text-align: center;
    }

    #copyright,
    #info,
    #contato {
        width: 100%;
        text-align: center;
    }
}

/* Desktop pequeno */
@media (min-width: 769px) and (max-width: 1024px) {
/* @media (min-width: 769px) and (max-width: 1024px) {  */

    body {
        font-size: 26px;
    }

    #section-logo img {
        height: 50vh;
    }

    .services {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .service {
        width: 50%;
    }

    .service-title h3{
        font-size: 1.3rem;
    }
    .service.service:nth-of-type(4) .service-paragraph p{
        font-size: 1rem;
    }

    .team {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer {
        flex-wrap: wrap;
        height: auto;
        text-align: center;
    }

    #copyright,
    #info,
    #contato {
        width: 100%;
        text-align: center;
    }
}