div#container {
    background-color: #284b6389;
    width: 1500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

div#conteudo {
    background-color: #353535;
    width: 100%;
    height: 500px;
}

img {
    width: 100px;
    height: 500px;
}

body {
    background-color: #ffff;
    color: #3c6e71;
    text-align: center;
    font-size: 30px;
    font-family: 'Axiforma';
    font-weight: 900;
    font-style: normal;


}

h1 {
    background-color: #284b6389;
    color: #eb6d3f;
}

h2 {
    background-color: #284b63;
    color: #eb6d3f;
}

h6 {
    background-color: #353535;
    color: #eb6d3f;
}

#foto img {
    width: 35px;
    height: 35px;
}

.botao {
    color: #d9d9d9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.azul {
    background-color: #5a89a8;
}

.botao:hover {
    background-color: #2b495e;
    color: #989797;
}

h3 {
    font-size: 30px;
    text-align: start;
}

h4 {
    font-size: 25px;
    align-items: center;
    text-align: left;
}

.divisao {
    display: flex;
    columns: row;
    justify-content: space-around;
    height: 400px;
    padding: 0 30px;
}

.divisao1 {
    display: flex;
    columns: row;
    justify-content: space-around;
    height: 350px;
    padding: 0 30px;
}

.Separacao1 {
    padding: 0 30px;
    background-color: #ffff;
    border: 10px solid #ff9670af;
    border-style: inset;
    border-color: #eb6d3f;
}

.Separacao2 {
    padding: 0 30px;
    background-color: #ffff;
    border: 10px solid #ff9670af;
    border-style: inset;
    border-color: #eb6d3f;
}

.Separacao3 {
    padding: 0 30px;
    background-color: #ffff;
    border: 10px solid #ff9670af;
    border-style: inset;
    border-color: #eb6d3f;
}

.Separacao4 {
    padding: 0 30px;
    background-color: #ffff;
    border: 10px solid #ff9670af;
    border-style: inset;
    border-color: #eb6d3f;
}

.Separacao5 {
    padding: 0 30px;
    background-color: #ffff;
    border: 10px solid #ff9670af;
    border-style: inset;
    border-color: #eb6d3f;
}

#texto1 {
    font-size: 26px;
}

.bloquinho {
    display: flex;
    background-color: #eb6d3f;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    color: #d9d9d9;
}

.bloquinho1 {
    background-color: #2b495e;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    color: #d9d9d9;
}

.bloquinho2 {
    background-color: #c3826a;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    color: #d9d9d9;
}

.bloquinho3 {
    background-color: #608aa8;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    color: #d9d9d9;
}

.bloquinho4 {
    background-color: #94614e;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    color: #d9d9d9;
}

.bloquinho5 {
    background-color: #17585c;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    color: #d9d9d9;
}

.bloquinho6 {
    background-color: #843012;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    color: #d9d9d9;
}

.bloquinho7 {
    background-color: #3979a7e1;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    color: #d9d9d9;
}

.separacao6 {
    padding: 0 15px;
    display: flex;
    columns: row;
    justify-content: space-around;
}

#photo {
    width: 250px;
    height: 200px;
    border-radius: 8px;
}